.background {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
}
.popup-box {
    background-color: rgb(213,241,167);
    border: 3px solid rgb(0,44,52);
    border-radius: 4%;

    position: absolute;

    animation: popup-border-slidein;
    animation-duration: 0.5s;
    top: 25%;
    bottom: 35%;
    left: 5px;
    right: 5px;
    overflow: hidden;
}

.popup-content {
    height: 90%;
    width: 100%;
    overflow: scroll;
}
@keyframes popup-border-slidein {
    from { top: 0%; bottom: 70%; }
    to { top: 25%; bottom: 35%; }
}