.material-icons{
    font-size: 50px;
}

button {
    background-color: rgb(0,44,52);
    color: white;
    border: 1px solid rgb(0,44,52);
    border-radius: 1%;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 1px 2px;
}
button#skip-button{
    background-color: white;
    color: rgb(0,44,52);
}
button#next-button {
    width: 20%;
    height: 40px;
}
button#hint-button {
    background-color: white;
    color: rgb(87, 148, 97);
    border-color: rgb(87, 148, 97);
}
button.MC-button {
    background-color: white;
    color: rgb(0,44,52);
    border: 2px solid;
    
    height: 100%;
    width: 30%;
}
button.MC-button.chosen {
    background-color: rgb(206, 238, 138);
    border: 3px solid;
}


.answer-border {
    border: 2px solid rgb(43,104,85);
    margin: 0 5%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}