.App {
  text-align: center;
}
/* @media print, screen and (max-width: 300px){
    .App {
        background-color: black;
    }
} */

.App-logo {
  height: 40vmin;
}

.App-link {
    color: rgb(9,211,172);
}

input{
    background-color: rgb(227,238,232);
}
.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

button.fixed-button{
    position: fixed;
    width: 30px;
    height: 30px;
}
#menu {
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 50%;
}
/* default theme */
#default{
    border-color: rgb(13,43,51);
    background-color: rgb(206, 238, 138);;
    top: 5px;
    right: 5px;
}
/* tropical theme */
#tropical{
    border-color: rgb(175, 116, 5);
    background-color: orange;
    top: 5px;
    right: 40px;
}
/* water theme */
#water{
    border-color: rgb(22, 70, 173);
    background-color: rgba(32, 91, 216);
    top: 5px;
    right: 75px;
}


.mode-buttons {
    width: 100%;
    height: 165px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mode-buttons button#q-mode {
    background-color: rgb(144,197,172);
    border: 1px solid rgb(144,197,172);
    width: 100%;
}
.mode-buttons button.item-type{
    background-color: rgb(75,130,100);
    border: 1px solid rgb(75,130,100);
    width: 100%;
}
.mode-buttons button.item-type:hover{
    /* for now item type is disabled for selection */
    cursor: not-allowed;
}
.mode-buttons button.text-type{
    background-color: rgb(65,165,120);
    border: 1px solid rgb(65,165,120);
    width: 100%;
}
.mode-buttons button.chapter-num {
    background-color: rgb(43,104,85);
    border: 1px solid rgb(43,104,85);
    width: 100%;
}
.mode-buttons button#reset {
    background-color: rgb(25,71,58);
    border: 1px solid rgb(25,71,58);
    width: 100%;
}

/* selected mode buttons */
.mode-buttons button.item-type.selected{
    background-color: white;
    border: 1px solid rgb(75,130,100);
    color: rgb(75,130,100);
}
.mode-buttons button.text-type.selected{
    background-color: white;
    border: 1px solid rgb(65,165,120);
    color: rgb(65,165,120);
}
.mode-buttons button.chapter-num.selected{
    background-color: white;
    border: 1px solid rgb(43,104,85);
    color: rgb(43,104,85);
}

/* active mode buttons */
.mode-buttons button#q-mode:active {
    color: rgb(25,71,58);
    background-color: white;
}
.mode-buttons button#reset:active {
    color: rgb(25,71,58);
    background-color: white;
}